#aboutContainer {
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 400px;
	text-align: center;
	width: 100%;
}
.aboutMain {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: #c7c7c7;
	padding: 30px;
	width: 80%;
	box-shadow: 1px 3px 6px rgb(44, 43, 43);
	transition: 0.3s;
	font-family: "Courier New", Courier, monospace;
	font-weight: 100;
	line-height: 1.4;
	font-weight: 300;
	font-size: 23px;
}

.aboutHeading {
	font-size: 72px;
	font-weight: 100;
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.skills {
	border-radius: 5px;
	background-color: rgb(238, 238, 238);
}
.skills img {
	margin: 6px;
}
h3 {
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 100px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
}

@media only screen and (max-width: 800px) {
	.aboutMain {
		font-size: 10px;
	}
}
