#aboutContainer {
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 400px;
	text-align: center;
	width: 100%;
}
.aboutHeading {
	font-size: 72px;
	font-weight: 100;
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.skills {
	background-color: rgb(238, 238, 238);
}
.skills img {
	margin: 6px;
}
p {
	font-family: fantasy;
	font-weight: 100;
	text-align: center;
	font-weight: 800;
	font-size: 20px;
}
h3 {
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 100px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
}
