#aboutContainer {
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 400px;
	text-align: center;
	width: 100%;
}
.aboutMain {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: #c7c7c7;
	padding: 30px;
	box-shadow: 1px 3px 6px rgb(44, 43, 43);
	transition: 0.3s;
	font-family: "Courier New", Courier, monospace;
	font-weight: 100;
	line-height: 1.4;
	font-weight: 300;
	font-size: 23px;
}
.headerSkills {
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 100px;
	font-size: 40px;
	font-weight: 200;
}

.aboutHeading {
	font-size: 72px;
	font-weight: 100;
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.skillsContainer {
	margin: 40px;
	display: flex;
	justify-content: space-evenly;
}

.skills {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	background-color: rgb(238, 238, 238);
}
.skills img {
	margin: 6px;
	padding: 0px 5px;
}

/* button */
.skillButton {
	cursor: pointer;
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.frontClosed {
	margin: 30px;
	text-align: left;
	color: #111;
	list-style: none;
}
.frontClosed li {
	margin: 10px;
}

.frontUl {
	/* background-image: linear-gradient(
		95.2deg,
		rgba(173, 252, 234, 1) 26.8%,
		rgba(192, 229, 246, 1) 64%
	); */
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	transition: all 0.4s ease-in-out;
	background-color: white;
	list-style: none;
	text-align: left;
	margin: 40px;
	padding: 20px;
	color: #111;
}
.frontUl li {
	margin: 10px;
	font-size: 20px;
	border-bottom: 1px solid black;
}

@media only screen and (max-width: 450px) {
	.aboutHeading {
		font-size: 62px;
	}
}
@media only screen and (max-width: 820px) {
	.aboutHeading {
		font-size: 52px;
	}
	.aboutMain {
		font-size: 10px;
	}
	.skills img {
		margin: 6px;
		padding: 5px 5px;
		height: 40px;
	}
}
