#contactContainer {
	text-align: center;
}

.contactsHeader {
	margin-top: 10%;
	font-size: 40px;
	text-align: center;
	background: -webkit-linear-gradient(#b7b7b7, #464cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.githubImg {
	margin: 10px;
	background-color: rgb(255, 248, 248);
	border-radius: 50%;
	text-align: center;
	transition: ease-in 0.3s;
}
.githubImg:hover {
	background-color: royalblue;
}
.emailSpot {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 30px;
}
.contactSection {
	text-align: center;
}
.linked {
	margin: 10px;
	transition: ease-in 0.3s;
	height: 30px;
	background-color: black;
}
.linked:hover {
	background-color: rgb(255, 255, 255);
}
.footer {
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
	background: -webkit-linear-gradient(#b7b7b7, #464cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
