.mainContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 40px;
}
.imgContainer {
	text-align: center;
}
.homeImg {
	text-align: center;
	height: 300px;
	border-radius: 50%;
	opacity: 0.9;
	animation: home_Img ease-in 1s;
	padding: 0px;
	/* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

@keyframes home_Img {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 0.3;
	}
	66% {
		opacity: 0.6;
	}
}
#homeContainer {
	font-size: 3.1em;
	font-weight: 0;
	width: 100%;
	line-height: 1.2em;
	padding-top: 2em;
	text-align: center;
	padding-left: 20px;
	padding-bottom: 1em;
	font-family: American Typewriter, serif;
}
.hiColor {
	transition: 0.6s;
	font-size: 0.6em;
	line-height: none;
	color: hsl(0, 0%, 78%);
	opacity: 0.8;
	font-weight: 100;
}
.hiColor:hover {
	opacity: 1;
}
.firstP {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.4s;
	font-weight: 300;
	font-size: 1em;
}

.firstOne {
	animation: the-first 1s ease-in;
}

@keyframes the-first {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 0.3;
	}
	66% {
		opacity: 0.6;
	}
}

.second-One {
	animation: the-second 1s ease-in;
}

@keyframes the-second {
	0% {
		opacity: 0;
	}
}

@media only screen and (max-width: 820px) {
	#homeContainer {
		font-size: 3em;
		padding-bottom: 0.3em;
		line-height: 1.5em;
	}
	.mainContainer {
		display: flex;
		flex-direction: column;
	}
	.homeImg {
		height: 300px;
	}
	.imgContainer {
		text-align: center;
		margin-top: 1em;
	}
}
@media only screen and (max-width: 450px) {
	.logo {
		font-size: 1.2em;
	}
	#homeContainer {
		font-size: 2em;
		padding-bottom: 0.3em;
		line-height: 1.5em;
	}
	.mainContainer {
		display: flex;
		flex-direction: column;
	}
	.homeImg {
		height: 200px;
	}
	.imgContainer {
		margin-top: 2em;
	}
}
