.mainContainer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 40px;
}
.homeImg {
	height: 400px;
	border-radius: 50%;
	opacity: 0.8;
	animation: home_Img ease-in 1s;
}

@keyframes home_Img {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 0.3;
	}
	66% {
		opacity: 0.6;
	}
}
#homeContainer {
	font-size: 3.3em;
	font-weight: 0;
	width: 100%;
	line-height: 1.2em;
	padding-top: 2em;
	text-align: center;
	padding-left: 20px;
	padding-bottom: 1em;
	font-family: American Typewriter, serif;
}
.hiColor {
	transition: 0.6s;
	/* background: -webkit-linear-gradient(#e554ff, #004bf5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	color: #c7c7c7;
	opacity: 0.6;
	font-weight: 100;
}
.hiColor:hover {
	opacity: 1;
}
.firstP {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.4s;
	font-weight: 300;
}

.firstOne {
	animation: the-first 1s ease-in;
}

@keyframes the-first {
	0% {
		margin-left: -30px;
		opacity: 0;
	}
	33% {
		opacity: 0.3;
	}
	66% {
		opacity: 0.6;
	}
}

.second-One {
	animation: the-second 1s ease-in;
}

@keyframes the-second {
	0% {
		opacity: 0;
		margin-right: -30px;
	}
}

@media only screen and (max-width: 820px) {
	#homeContainer {
		font-size: 3em;
		padding-bottom: 0.3em;
		line-height: 1.5em;
	}
	.mainContainer {
		display: flex;
		flex-direction: column;
	}
	.homeImg {
		height: 300px;
	}
	.imgContainer {
		text-align: center;
	}
}
@media only screen and (max-width: 450px) {
	#homeContainer {
		font-size: 2em;
		padding-bottom: 0.3em;
		line-height: 1.5em;
	}
	.mainContainer {
		display: flex;
		flex-direction: column;
	}
	.homeImg {
		height: 200px;
	}
}
