html {
	scroll-behavior: smooth;
}
#navContainer {
	margin: 10px 60px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
a {
	color: white;
	text-decoration: none;
	transition: 1s;
}
#mainNav {
	display: flex;
	justify-content: space-between;
}
.logo {
	height: 60px;
	transition: 0.6s ease-in;
	opacity: 0.8;
	animation: the-logo ease-in 2s;
	border-radius: 90%;
}
.logo:hover {
	opacity: 1;
}
@keyframes the-logo {
	0% {
		opacity: 0;
		border-radius: 10%;
	}
	33% {
		opacity: 0.3;
		border-radius: 20%;
	}
	66% {
		opacity: 0.6;
		border-radius: 60%;
	}
}
li {
	animation: All-li ease-in-out 2s;
}
@keyframes All-li {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 0.3;
	}
	66% {
		opacity: 0.6;
	}
}

.allList {
	display: flex;
	justify-content: space-evenly;
}
.allList .eachLi {
	list-style: none;
	margin: 0 60px;
	transition: 0.1s ease-in-out;
	font-size: 20px;
	cursor: pointer;
}
.allList .eachLi:hover {
	border-bottom: 4px solid #3471ff;
	border-bottom-style: inset;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	opacity: 0.7;
}
.arrowContainer {
	display: flex;
	justify-content: space-evenly;
}
.arrow {
	height: 80px;
}
