#projectsContainer {
	padding-top: 200px;
}
.project {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	padding-bottom: 10em;
}
.headingProjects {
	text-align: center;
	font-family: 700;
	font-size: 72px;
	font-weight: 100;
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 2em;
}
.imgs {
	height: 300px;
	transition: ease-in 0.3s;
	opacity: 0.7;
	box-shadow: 20px -5px rgb(226, 230, 230);
	border: 2px solid rgb(92, 92, 92);
}
.imgs:hover {
	height: 310px;
	opacity: 0.8;
	box-shadow: 40px 5px rgb(226, 230, 230);
	border: none;
}
.summaryP {
	background-color: rgb(6 6 8 / 70%);
	color: #c7c7c7;
	padding: 30px;
	width: 500px;
	box-shadow: 1px 3px 3px rgb(44, 43, 43);
	transition: 0.3s;
	font-family: "Courier New", Courier, monospace;
	font-weight: 100;
	line-height: 1.4;
	font-weight: 300;
	text-align: center;
	font-size: 20px;
}
.summaryP:hover {
	box-shadow: 3px 3px #111;
}
.descriptionSpan {
	color: royalblue;
}
.technologyTitle {
	border-bottom: 1px solid royalblue;
	color: royalblue;
	line-height: 2;
}

@media only screen and (max-width: 1300px) {
	.imgs {
		height: 200px;
	}
	.imgs:hover {
		height: 210px;
	}
	.summaryP {
		padding: 60px;
		width: 300px;
		font-size: 10px;
	}
}

@media only screen and (max-width: 800px) {
	.allList {
		display: flex;
		justify-content: space-evenly;
	}
	.allList .eachLi {
		list-style: none;
		margin: 0 10px;
		transition: 0.1s ease-in-out;
		font-size: 20px;
		cursor: pointer;
	}
	.imgs {
		height: 150px;
		box-shadow: none;
	}
	.imgs:hover {
		height: 154px;
		box-shadow: none;
	}
	h2 {
		font-size: 25px;
	}
	.logo {
		height: 50px;
		margin: 10px;
		padding: 0;
		margin-left: 8px;
	}
	#navContainer {
		margin: 5px;
	}
	.navbutton {
		display: none;
	}
	.project {
		display: flex;
		flex-direction: column;
		padding-bottom: 10em;
	}
	.project div {
		margin: 10px;
	}
	.summaryP {
		width: 60%;
	}
	.headingProjects {
		font-size: 50px;
	}
}
