#contactContainer {
	text-align: center;
}

h1 {
	text-align: center;
	background: -webkit-linear-gradient(#b7b7b7, #464cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
img {
	background-color: silver;
	text-align: center;
}
.emailSpot {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 30px;
}
.contactSection {
	text-align: center;
}
.linked {
	height: 30px;
}
.footer {
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
	background: -webkit-linear-gradient(#b7b7b7, #464cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
