#homeContainer {
	font-size: 4em;
	font-weight: 900;
	width: 100%;
	padding-top: 2em;
	text-align: center;
	padding-left: 20px;
	padding-bottom: 1em;
}
.hiColor {
	transition: 0.6s;
	background: -webkit-linear-gradient(#e554ff, #004bf5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0.6;
	font-weight: 100;
}
.hiColor:hover {
	opacity: 1;
}
.firstP {
	background: -webkit-linear-gradient(#a2fffb, #004bf5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.6s;
	/* animation: the-second 0.6s ease-in-out; */
}

.firstOne {
	animation: the-first 1.5s ease-in-out;
}

@keyframes the-first {
	0% {
		margin-left: -30px;
		opacity: 0;
	}
}

.second-One {
	animation: the-second 0.6s ease-in-out;
}

@keyframes the-second {
	0% {
		opacity: 0;
		margin-right: -30px;
	}
}
