#homeContainer {
	font-size: 4em;
	width: 100%;
	padding-top: 1em;
	text-align: center;
	padding-left: 20px;
	padding-bottom: 1em;
}
.hiColor {
	transition: 0.6s;
	background: -webkit-linear-gradient(#e554ff, #004bf5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0.4;
}
.hiColor:hover {
	opacity: 0.9;
}
.firstP {
	background: -webkit-linear-gradient(#a2fffb, #004bf5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.6s;
}
