#navContainer {
	margin: 10px 60px;
}
#mainNav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	font-size: 40px;
}
.allList {
	display: flex;
	justify-content: space-evenly;
}
.allList li {
	margin: 0 60px;
	text-decoration: none;
	text-transform: none;
}
