#navContainer {
	margin: 10px 60px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
a {
	color: white;
	text-decoration: none;
	transition: 1s;
}
#mainNav {
	display: flex;
	justify-content: space-between;
}
.logo {
	font-size: 40px;
}
.navbutton {
	background-color: #111;
	color: white;
	cursor: pointer;
	border: none;
	font-family: fantasy;
	font-size: 20px;
	transition: 0.3s ease-in;
	font-weight: 800;
}
.navbutton:hover {
	border: 2px solid #004bf5;
	border-radius: 3px;
	background-color: #173977;
}
.allList {
	display: flex;
	justify-content: space-evenly;
}
.allList li {
	list-style: none;
	margin: 0 60px;
	transition: 0.1s ease-in-out;
	font-size: 20px;
	cursor: pointer;
}
.allList li:hover {
	border-bottom: 4px solid #3471ff;
	opacity: 0.7;
}
