#projectsContainer {
	padding-top: 200px;
}
.project {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	padding-bottom: 10em;
}
.headingProjects {
	background: -webkit-linear-gradient(#00ff7e, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-top: 100px;
	font-size: 72px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-bottom: 1em;
}
.imgs {
	height: 300px;
	transition: ease-in 0.3s;
	box-shadow: 60px -16px rgb(37, 44, 44);
	opacity: 0.7;
}
.imgs:hover {
	height: 320px;
	opacity: 0.8;
	box-shadow: 60px 16px rgb(226, 230, 230);
}
.rightImg {
	transition: ease-in 0.3s;
}
.rightImg:hover {
	box-shadow: -60px 16px rgb(226, 230, 230);
}
.summaryP {
	background-color: rgb(6 6 8 / 70%);
	color: #c7c7c7;
	padding: 60px;
	width: 500px;
	box-shadow: 3px 3px #1e1b1b;
	transition: 0.3s;
}
.summaryP:hover {
	box-shadow: 3px 3px #111;
}
.leftSummary {
	margin-left: 100px;
}

.descriptionSpan {
	color: #a2ffc3;
}

@media only screen and (max-width: 1300px) {
	.imgs {
		height: 200px;
	}
	.imgs:hover {
		height: 210px;
	}
	.leftSummary {
		margin-left: 0px;
	}
	.summaryP {
		padding: 60px;
		width: 300px;
	}
}

@media only screen and (max-width: 800px) {
	.allList {
		display: flex;
		justify-content: space-evenly;
	}
	.allList .eachLi {
		list-style: none;
		margin: 0 10px;
		transition: 0.1s ease-in-out;
		font-size: 20px;
		cursor: pointer;
	}
	.project {
		display: grid;
		grid-row: 2;
		align-items: center;
	}
	.imgs {
		height: 150px;
	}
	.imgs:hover {
		height: 170px;
	}
	.summaryP {
		padding: 60px;
		width: 100px;
	}
	.logo {
		height: 50px;
		margin: 10px;
		padding: 0;
		margin-left: 8px;
	}
	#navContainer {
		margin: 5px;
	}
}
