#projectsContainer {
	padding-top: 200px;
	width: 100%;
}
.project {
	display: grid;
	grid-template-columns: 1fr 2fr;
	text-align: center;
}
.headingProjects {
	background: -webkit-linear-gradient(#5d88ff, #c4c8ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-top: 100px;
	font-size: 72px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-bottom: 40px;
}
